@charset "UTF-8";

#contact li {
    letter-spacing: 9px;
}

#contact form li {
    letter-spacing: 9px;
    margin-bottom: 15px;
    margin-top: 50px;
}

#contact form textarea {
    width: 500px;
    height: 100px;
}

.area {
    width: 500px;
    height: 50px;
}

.btn {
    width: 200px;
    height: 40px;
    background-color: #232323;
    letter-spacing: 9px;
}

.btn:hover {
    background-color: #f0f0f0;
    color: #232323;
}

@media screen and (max-width: 480px) {
    #contact form textarea {
        width: 350px;
    }

    .area {
        width: 350px;
    }

    .btn {
        width: 120px;
        letter-spacing: 2px;
    }
}