@charset "UTF-8";

html {
  font-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: #24292e;
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
}

.site-title {
  line-height: 1px;
  font-size: 40px;
  letter-spacing: 9px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 60px;
  margin-bottom: 30px;
  letter-spacing: 15px;
  margin-top: 0px;
}

.sub-title {
  margin-bottom: 30px;
  position: relative;
  padding: 0 50px;
  letter-spacing: 9px;
}

.sub-title::before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 30px;
  height: 2px;
  content: '';
  background: #000;
}

.box {
  border: #000 2px solid;
  width: 244px;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 9px;
}

.box h3 {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  position: sticky;
  top: 0;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  font-size: 20px;
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
  text-align: center;
}

#mainvisual img {
  width: 100%;
  max-width: 1140px;
  height: 700px;
  object-fit: cover;
}

/*-------------------------------------------
pc_pic
-------------------------------------------*/
#pc_pic {
  margin-right: 0px;
}

#pc_pic img {
  max-width: 550px;
  height: 450px;
  aspect-ratio: 550 / 455;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/

#about-main {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  padding-left: 0;
  margin-bottom: 30px;
}

#about-text {
  line-height: 28px;
  letter-spacing: 4px;
}

#btn_about {
  margin-top: 30px;
}

a.about-btn-border {
  border-radius: 0;
  background: #232323;
  width: 180px;
  padding: 12px;
}

a.about-btn-border:hover {
  color: #232323;
  background-color: rgba(0, 0, 0, 0.6);
}

/*-------------------------------------------
Works
-------------------------------------------*/
#work-pic {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
}

#work-pic p {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4px;
}

#work-pic img {
  max-width: 811px;
  height: 500px;
  object-fit: cover;
  aspect-ratio: 811 / 500;
}

.btn-work {
  display: flex;
  justify-content: space-between;
}

#btn_work_more {
  margin-top: 30px;
}

a.work-btn-border {
  border-radius: 0;
  background: #232323;
  width: 180px;
  padding: 12px;
}

a.work-btn-border:hover {
  color: #232323;
  background-color: rgba(0, 0, 0, 0.6);
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact p {
  text-align: center;
  margin-top: 60px;
  line-height: 28px;
  letter-spacing: 4px;
}

a.btn-border {
  border-radius: 0;
  background: #232323;
  width: 250px;
  padding: 12px;
}

a.btn-border:hover {
  color: #232323;
  background-color: rgba(0, 0, 0, 0.6);
}

.btn,
a.btn,
button.btn {
  font-size: 20px;
  font-weight: 40px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #f0f0f0;
  margin-top: 24px;
}

#btn {
  text-align: center;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  color: #232323;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-top: #232323 1px solid;
}

#footer p {
  margin: 24px;
}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (max-width: 1140px) {
  .site-title {
    padding-left: 30px;
  }

  #header nav {
    padding-right: 30px;
  }

  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    width: 100%
  }

  /*-------------------------------------------
  about
  -------------------------------------------*/
  .sec-title {
    margin-bottom: 20px;
    font-size: 50px;
  }

  #pc_pic img {
    width: 100%;
    height: 100%;
  }

  /*-------------------------------------------
  work
  -------------------------------------------*/
  .sub-title {
    letter-spacing: 6px;
  }

  #work-pic p {
    font-size: 20px;
  }

  #work-pic img {
    width: 100%;
    height: 100%;
  }

}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 480px) {
  .wrapper {
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .site-title {
    margin-top: 20px;
  }

  .sec-title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  #mainvisual img {
    height: 500px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  about
  -------------------------------------------*/
  #about-main {
    display: block;
    margin-bottom: 30px;
  }

  #btn_about {
    margin-top: 20px;
  }

  a.about-btn-border {
    width: 100px;
    padding: 8px;
  }

  #pc_pic img {
    margin-top: 40px;
  }

  .box {
    width: 150px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/

  #work-pic p {
    font-size: 15px;
    text-align: left;
  }

  .btn-work {
    display: block;
  }

  #btn_work_more {
    margin-top: 30px;
  }

  a.work-btn-border {
    width: 100px;
    padding: 8px;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  a.btn-border {
    width: 200px;
  }

  #contact p {
    letter-spacing: 2px;
  }

}