@charset "UTF-8";

.space {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.work_content {
    flex: 0 0 50%;
    position: relative;
}

#subtitle {
    margin-top: 20px;
    letter-spacing: 9px;
    padding-left: 15px;
}

#name1 {
    margin-top: 25px;
    font-size: 25px;
    letter-spacing: 9px;
    padding-left: 15px;
}

#wk1 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk1 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

#wk2 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk2 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

#wk3 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk3 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

#wk4 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk4 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

#wk5 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk5 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

#wk6 {
    padding-left: 15px;
    padding-right: 15px;
}

#wk6 img {
    width: 100%;
    max-width: 500px;
    height: 361px;
    object-fit: cover;
    aspect-ratio: 500 / 361;
}

/*-------------------------------------------
detail
-------------------------------------------*/

#detail_head {
    border-bottom: #232323 1px solid;
    color: #232323;
    font-size: 25px;
    letter-spacing: 9px;
    padding-bottom: 50px;
}

#detail_pic img {
    width: 100%;
    max-width: 1140px;
    height: 700px;
    object-fit: cover;
    margin-top: 50px;
}

.detail_box {
    border: #232323 1px solid;
    width: 244px;
    letter-spacing: 9px;
    text-align: center;
    padding: 10px;
}

#detail p {
    letter-spacing: 9px;
}

.detail_website {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.url {
    margin-left: 30px;
}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (max-width: 1140px) {

    #wk1 img {
        width: 100%;
        height: 100%;
    }

    #wk2 img {
        width: 100%;
        height: 100%;
    }

    #wk3 img {
        width: 100%;
        height: 100%;
    }

    #wk4 img {
        width: 100%;
        height: 100%;
    }

    #wk5 img {
        width: 100%;
        height: 100%;
    }

    #wk6 img {
        width: 100%;
        height: 100%;
    }

    #name1 {
        font-size: 22px;
        letter-spacing: 4px;
    }

    #subtitle {
        letter-spacing: 4px;
    }

    #detail_pic img {
        max-width: 648px;
        height: 461px;
    }

    .detail_website {
        display: block;
    }

    #detail p {
        letter-spacing: 5px;
    }
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 480px) {
    .space {
        display: block;
    }

    .work_content {
        margin-top: 20px;
    }

    #name1 {
        margin-top: 15px;
    }

    #wk1 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk5 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #wk1 img {
        width: 100%;
        height: 100%;
    }

    #wk2 img {
        width: 100%;
        height: 100%;
    }

    #wk3 img {
        width: 100%;
        height: 100%;
    }

    #wk4 img {
        width: 100%;
        height: 100%;
    }

    #wk5 img {
        width: 100%;
        height: 100%;
    }

    #wk6 img {
        width: 100%;
        height: 100%;
    }

    #detail_pic img {
        max-width: 335px;
        height: 261px;
    }

    #detail_head {
        font-size: 22px;
    }

    .detail_box {
        width: 163px;
    }

    .detail_website {
        display: block;
    }

    #detail p {
        font-size: 15px;
        letter-spacing: 0px;
    }

    .url {
        margin-left: 15px;
    }
}