@charset "UTF-8";

.space {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 40px;
}

#subtitle {
    margin-top: 20px;
    letter-spacing: 9px;
}

#name1 {
    margin-top: 25px;
    font-size: 25px;
    letter-spacing: 9px;
}

#wk1 {
    width: 520px;
    height: 361px;
}

#wk1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wk2 {
    background-color: #809671;
    width: 520px;
    height: 361px;
}

#wk3 {
    background-color: #d2ab80;
    width: 520px;
    height: 361px;
}

#wk4 {
    background-color: #b3b792;
    width: 520px;
    height: 361px;
}

#wk5 {
    background-color: #725c3a;
    width: 520px;
    height: 361px;
}

#wk6 {
    background-color: #e5d2b8;
    width: 520px;
    height: 361px;
}

/*-------------------------------------------
detail
-------------------------------------------*/

#detail_head {
    border-bottom: #232323 1px solid;
    color: #232323;
    font-size: 25px;
    letter-spacing: 9px;
    padding-bottom: 50px;
}

#detail_pic img {
    width: 100%;
    max-width: 1140px;
    height: 649px;
    object-fit: cover;
    margin-top: 50px;
}

.detail_box {
    border: #232323 1px solid;
    width: 244px;
    letter-spacing: 9px;
    text-align: center;
    padding: 10px;
}

#detail p {
    letter-spacing: 9px;
}

.detail_website {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.url {
    margin-left: 30px;
}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (max-width: 1024px) {
    #wk1 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #wk2 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #wk3 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #wk4 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #wk5 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #wk6 {
        width: 300px;
        height: 221px;
        align-items: center;
    }

    #name1 {
        font-size: 22px;
    }

    #detail_pic img {
        max-width: 648px;
        height: 461px;
    }

    .detail_website {
        display: block;
    }

    #detail p {
        letter-spacing: 5px;
    }

}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 480px) {
    .space {
        display: block;
    }

    .work_content {
        margin-top: 20px;
    }

    #wk1 {
        width: 335px;
        height: 261px;
    }

    #name1 {
        margin-top: 15px;
        font-size: 22px;
    }

    #wk2 {
        width: 335px;
        height: 261px;
        align-items: center;
    }

    #wk3 {
        width: 335px;
        height: 261px;
        align-items: center;
    }

    #wk4 {
        width: 335px;
        height: 261px;
        align-items: center;
    }

    #wk5 {
        width: 335px;
        height: 261px;
        align-items: center;
    }

    #wk6 {
        width: 335px;
        height: 261px;
        align-items: center;
    }

    #detail_pic img {
        max-width: 335px;
        height: 261px;
    }

    #detail_head {
        font-size: 22px;
    }

    .detail_box {
        width: 163px;
    }

    .detail_website {
        display: block;
    }

    #detail p {
        font-size: 15px;
        letter-spacing: 0px;
    }

    .url {
        margin-left: 15px;
    }
}